body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Drop Down Menu */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    z-index: 5;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: rgb(230, 230, 230);
    border-radius: 5px;
}

nav > ul > li {
    position: relative;
    padding: 24px 48px;
    color: rgb(130, 130, 130);
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

nav > ul > li:hover {
    background: rgb(220, 220, 220);
}

.drop-menu > li {
    display: none;
    position: relative;
    text-align: center;
    padding: 24px;
    color: rgb(220, 220, 220);
    background: rgb(130, 130, 130);
    transform-origin: top center;
    transform: scale(1,0);
    cursor: pointer;
}

.drop-menu li:hover {
    background: rgb(120, 120, 120);
}

.drop-menu.selected > li:nth-child(1) {
    display: block;
    animation: fadeIn 100ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.drop-menu.selected > li:nth-child(2) {
    display: block;
    animation: fadeIn 100ms;
    animation-delay: 80ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.drop-menu.selected > li:nth-child(3) {
    display: block;
    animation: fadeIn 100ms;
    animation-delay: 180ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.drop-menu.selected > li:nth-child(4) {
    display: block;
    animation: fadeIn 100ms;
    animation-delay: 280ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.drop-menu.selected > li:nth-child(5) {
    display: block;
    animation: fadeIn 100ms;
    animation-delay: 380ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
    
.drop-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
    z-index: 4;
}

@keyframes fadeIn {
    from { transform: scale(1,0);
           opacity: 0; }
      to { transform: scale(1,1);
           opacity: 1; }
}

/* Mobile Sidebar. */

.sidebarContainer {
    position: fixed;
    width: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 245, 245);
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, .1);
    transition: width 300ms;
    overflow: auto;
}

.sidebarContainer.selected {
    width: 65%;
}

.sidebar {
    height: 100%;

}

.sidebar li {
    width: 100%;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    padding: 1.5em 0;
    color: rgb(130, 130, 130);
    cursor: pointer;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.05);
}

.sidebar li:hover {
    background-color: rgb(240, 240, 240);
}

.subMenu {
    display: block;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 245, 245);
    transition: width 300ms;
    width: 0%;
}

.subMenu.selected {
    width: 100%;
}

.subMenuIcon {
    position: absolute;
    padding: 45px;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 36px;
    font-weight: 900;
    transition: transform 300ms;
}

.iconElementsContainer div {
    width: 35px;
    height: 4px;
    background-color: rgb(130, 130, 130);
    margin: 4px;
    border-radius: 2px;
    pointer-events: none;
}

.iconElementsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px;
    cursor: pointer;
    transition: left 300ms;
    z-index: 2;
}

.mobileHeader {
    display: none;
    justify-content: flex-end;
    width: 100%;
    z-index: 2;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 300ms;
    z-index: 3;
}

.modal.background {
    background-color: rgba(0, 0, 0, 0.25);
}

.modal.selected {
    width: 100%;
}

@media screen and (max-width: 700px) {
    nav {
        display: none;
    }
    .mobileHeader {
        display: flex;
    }
    .modal {
        display: block;
    }
}

.imageCarouselContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.carouselFrame {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 4px;
}

.imageSlides {
    position: absolute;
    transition: transform 300ms ease-in-out;
    transform: translateX(-100%);
    z-index: 0;
}

.imageSlides.selected {
    z-index: 2;
    transform: translateX(0);
}

.imageSlides.remove {
    z-index: 1;
    transform: translateX(100%);
}

.imageSlides.opacity {
    opacity: 0;
}

.backArrow,
.forwardArrow {
    position: absolute;
    top: 40%;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    z-index: 3;
    padding: 4px 6px;
    margin: 12px;
}

.backArrow:hover,
.forwardArrow:hover {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    user-select: none;
}

.backArrow {
    transform: rotate(180deg);
}

.forwardArrow {
    right: 0;
}

.slideButtons {
    display: flex;
    margin: 12px 0;
}

.slideDots {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    transition: background-color 300ms;
}

.slideDots.selected {
    background-color: rgb(200, 200, 200);
}